/* Body */
* {
    margin: 0;
    padding: 0;
}

/* Headings */




/* Default */



/* Error States */

.error-input {
    background-color: hsl(4, 100%, 67%);
    color: hsl(4, 100%, 67%);
}

.error {
    color: hsl(4, 100%, 67%);
}

/* Success State */



/* Attributions */

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}

/* Media Queries */

/* change image in default form based on size */