/* Body */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: hsl(234, 29%, 20%);
    background-color: hsl(234, 29%, 20%);
}

.container {
    background-color: hsl(0, 0%, 100%);
}

.container2 {
    background-color: hsl(0, 0%, 100%);
}

/* Text */

h1 {
    font-size: 30px;
    color: hsl(235, 18%, 26%);
}

input::placeholder {
        color: hsl(0, 0%,58%);
        opacity: 1;   
        
/* check difference between Blue 800 and 700, identify which one goes to text & bg color */

/* Default */

button {
    cursor: pointer;
    background-color: hsl(4, 100%, 67%); /* gradient */
    color: hsl(0, 0%, 100%);
}

/* Error States */

.error-input {
    background-color: hsl(4, 100%, 67%);
    color: hsl(4, 100%, 67%);
}

.error {
    color: hsl(4, 100%, 67%);
}

/* Success State */



/* Attributions */

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}

/* Media Queries */

/* change image in default form based on size */