* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans',sans-serif;
}

/* Half-half the background */

body {
    font-size: 16px;
    background-color: hsl(275, 100%, 97%);
    background-image: url('assets/images/background-pattern-desktop.svg'); /* Relative path to your image */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}


#container {
    background-color: hsl(0, 100%, 100%);
    border-radius: 10px;
    margin: auto;
}


img {
    height: 20px;
    width: 20px;
}

h1 {
    font-weight: 700;
    font-size: 32px;
    color: hsl(292, 42%, 14%);
}

.h2-button {
    font-weight: 600;
    color: hsl(292, 42%, 14%);
}

.h2-button:hover {
    font-weight: 600;
    color: hsl(292, 16%, 49%);
}

p {
    font-weight: 400;
    color: hsl(292, 16%, 49%);
}   


.bg-image-desktop,
.bg-image-mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.bg-image-desktop {
  display: none;
}



.inline {
    display: inline-block;
}

.faq {

}

.answer {

}


.plus {

}

.minus {
    display: none;
}

.hidden {
    display: hidden;
}

## Colors

- White: hsl(0, 100%, 100%)
- Purple 100: hsl(275, 100%, 97%)
- Purple 600: hsl(292, 16%, 49%)
- Purple 950: hsl(292, 42%, 14%)


.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


@media screen and ( min-width: 567px ) {
  .bg-image-mobile {
    display: none;
  }

  .bg-image-desktop {
    display: block;
  }
}

@media screen and ( min-width: 768px ) {

  p {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .faq-card {
    max-width: 550px;
    padding: 3rem 3rem 0;
  }

  .faq-item-header {
    padding: 3rem 0;
  }
}

@keyframes introFaqCard {
  0% {
    opacity: 0;
    transform: translateY( 20% );
  }
  100% {
    opacity: 1;
    transform: translateY( 0% );
  }
}